body{
    background-color: aliceblue;
}
h2{
    text-align: center;
}
/*own css*/
.dot{
    height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
    margin: 10px;
}
.dot1{
    background-color: #ff5f57;
}
.dot2{
    background-color: #ffbc2f;
}
.dot3{
    background-color: #29c840;
}
.h2-top{
    display: flex;
    align-items: center;
    justify-content: center;
}